.messages {
    padding: 50px;
}

.title {
    text-align: center;
    font-size: 28px;
    line-height: 130%;
    margin-bottom: 30px;
}

.dialogs {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 4%;
}

.list {

}


.message-list {
    padding: 10px;
}
