.nav {
    grid-area: nav;
    background-color: #f9e998;
    padding: 30px 40px;
}

.list {
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
}

.item {
    margin-bottom: 15px;
}

.item:last-child {
    margin-top: 35px;
    margin-bottom: 0;
}

.item:nth-last-child(2) {
    margin-top: 35px;
}

.item a {
    color: #FE5256;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.item a:hover {
    color: #A4080C;
}

/**/
.item a.active {
    color: #A4080C;
}