.app-wrapper {
    min-height: 100%;
    overflow: hidden;

    max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: content-box;

    display: grid;
    grid-template-areas: "head head"
                         "nav main";
    grid-template-rows: 85px 1fr;
    grid-template-columns: minmax(200px, 300px) 1fr;
    grid-gap: 30px;
}

.main {
    grid-area: main;
    background-color: #ffffcc;
}



